/* All the great styles! */
footer {
    background-color: lightblue;
}
#musiLogo {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

#musiLogo:hover {
    text-decoration: none;
}

#spotifyWidget {
    float: right;
}

#musicText {
    font-family: 'Roboto', sans-serif;
}

#musicPara {
    width: 85%;
}

#thanksHead {
    text-align: justify;
    font-weight: bold;
}

.mainNavElem {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.imgText {
    text-align: center;
}

.thanks {
    font-family: 'Roboto', sans-serif;
}

.faq {
    font-family: 'Roboto', sans-serif;
}